@keyframes wiggle {
  0%   {transform: rotate(0deg);} 
  25%   {transform: rotate(-90deg);}
  75%   {transform: rotate(90deg);} 
  100%   {transform: rotate(0deg);}
}

.wiggle {
  animation-name: wiggle;
  animation-duration: 750ms;
  animation-timing-function: ease-in-out;
}

.wiggle-reverse {
  animation-direction: reverse;
}

@tailwind base;
@tailwind components;
@tailwind utilities;